.projects {
    /* height: 100vh; */
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
}

.projects-inner-layout {
    margin-top: 200px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}
.section-heading {
    text-align: center;
    font-weight: 300;
    color: var(--font-color-primary);
    font-size: 3rem;
}

.projects-card {
    width: 90%;
    min-width: 280px;
    max-width: 800px;
    border-radius: 15px;
    position: relative;
    background-color: var(--background-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    min-height: 250px;
}

.project-heading-highlight {
    color: var(--font-color-secondary)
}

.project-demo-img {
    display: none;
    max-width: 380px;
}

.projects-card p {
    color: var(--font-color-secondary);
    font-family: 'Mulish', sans-serif;
    max-width: 90%;
}

.project-links {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (min-width: 1200px) {
    .projects-card {
        min-height: 300px;
    }
    .project-demo-img {
        display:block;
        width: 40%;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 25px;
        margin-right: 25px;
    }

    .projects-card p {
        max-width: 50%;
    }

    .project-links {
        top: 0;
    }
}

.projects-card h1 {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}



.project-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.project-links ul li {
    margin-right: 10px;
}
.project-links a {
    color: var(--font-color-primary);
}

.project-tech {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 25px;
    margin-bottom: 25px;
}

.project-tech p {
    color: var(--font-color-secondary);
    font-family: "Mulish", sans-serif;
    max-width: 300px;
}

.project-tech ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.project-tech ul li {
    margin-right: 10px;
}