:root {
  --background-primary: #f9f9f9;
  --background-secondary: #fff;
  --font-color-primary: black;
}

[data-theme="dark"] {
  --background-primary: rgb(18,18,18);
  --background-secondary: rgb(31,31,31);
  --font-color-primary: white;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color-primary);
}
